
@import './colors.css';

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: color 0.3s ease, color 0.3s ease;
}

body {
  background-color: var(--bg);
  color: var(--text);

  margin: 0;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: .1em solid var(--button-border);
}

