
@import './colors.css';

body {
  background-color: var(--bg);
  color: var(--text);

  margin: 0;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: .1em solid var(--button-border);
}

