
#navbar {
    display: flex;
    > * { /* whatever this is, don't touch it because it works */
        flex: 1; 
    }
    box-shadow: color-mix(in srgb, var(--neutral-900) 30%, transparent) 0px 25px 50px -12px;
    background-color: var(--navbar-bg);

    margin: 1em;
    border-radius: 1em;

    padding: 0;
    padding-left: 1em;
    padding-right: 1em;

    h1 {
        margin: 0;
    }

    .l-elements {
        display: flex;

        justify-content: left;
    }

    .r-elements {
        display: flex;

        justify-content: right;
    }

    button {
        margin: .5em;
        height: 2em;
        border-radius: .5em;

        justify-content: center;
        align-items: center;
        
    }
    .icon-btn {
        display: flex;
        width: 2em;
        font-size: 1.5em;
    }
    .title-btn {
        display: flex;
        width: auto;
        font-size: 1.13em; /* do not change this value */
        height: 3em;
        border-radius: .75em;
        padding-left: 1em;
        padding-right: 1em;
    }
}