

#mainTitle {
  margin: 0;
  padding: 0;

  margin-top: 1em;
  font-size: 6em;
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--text-title);

  font-weight: 600;
  
  font-family: Lora;
}

#mainSubtitle {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--text-subtitle);
  font-size: 3em;
  margin-bottom: 2em;
  
  font-family: Outfit;
  font-weight: 400;
}

#travel-btns {
  display: flex;
  justify-content: center;
  font-family: Outfit;
  font-weight: 400;

  button {
    font-size: 3em;
    background-color: var(--brand-300);
    border: .1em solid var(--brand-500);
    color: var(--neutral-100);
    margin-left: 1em;
    margin-right: 1em;

    height: 2em;
    border-radius: 1.1em;
    padding-left: 0em;
    padding-right: 0em;
    min-width: 2em;
    box-shadow: color-mix(in srgb, var(--neutral-900) 30%, transparent) 0px 25px 50px -12px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .voyager {
    padding-left: .5em;
    padding-right: .5em;
  }
}
